button.btn-block {
  width: 100%;
}

.title {
  font-size: 110% !important;
}

.table {
  width: 100% !important;
}

.responsive {
  width: 100% !important;
  height: auto !important;
}

.small {
  font-size: 85% !important;
}

.img-responsive {
  width: 100% !important;
  height: auto !important;
}

.pull-right {
  float: right !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-muted {
  color: #6c757d !important;
}
